.confirmation-page {
  background-color: #ce2829;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 36px;
  z-index: 1;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
}

.ilk-p {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 64px;
  z-index: 1;
  font-weight: 250;
}

.ikinci-p {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 64px;
  z-index: 1;
  font-weight: 250;
}
