.icons-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 2.5rem;
}

.icons-1 img {
  width: 30px;
  height: 30px;
}

.icons-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 2.5rem;
}

.icons-2 img {
  width: 30px;
  height: 30px;
}

.icons-3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 2.5rem;
}

.icons-3 img {
  width: 30px;
  height: 30px;
}

.icons-4 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 2.5rem;
}

.icons-4 img {
  width: 30px;
  height: 30px;
}

.icons-5 {
  display: flex; /* Yan yana düzenleme için */
  align-items: center; /* Resim ve paragrafı dikeyde hizala */
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 2.5rem;
}

.icons-5 img {
  width: 30px;
  height: 30px;
}

.icons-6 {
  display: flex; /* Yan yana düzenleme için */
  align-items: center; /* Resim ve paragrafı dikeyde hizala */
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
}

.icons-6 img {
  width: 30px;
  height: 30px;
}

.hero-icons {
  display: flex; /* Tüm ikonlar ve metinler yan yana */
  flex-wrap: wrap; /* Satır taşmasını engeller, taşarsa alt satıra geçer */
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero-kartlar {
  background-color: rgb(247, 247, 247);
  position: relative;
  display: inline-block;
  width: 100%;
  display: flex; /* Yan yana hizalama */
  gap: 1rem;
}

.kart-1 {
  position: relative;
}

.kart-1 img {
  width: 360px;
  height: 300px;
  margin-top: 3rem;
  border-radius: 8px;
  margin-left: 19.5rem;
}

.kart-basligi {
  position: absolute;
  top: 35%;
  left: 62%;
  transform: translate(-50%, -50%); /* Yazıyı tam ortalar */
  color: white; /* Yazı rengi */
  font-size: 42px; /* Yazı boyutu */
  font-weight: 600;
}

.kart-1 span,
.kart-2 span {
  display: block; /* Her bir kelimeyi alt alta yerleştirir */
}

.kart-p {
  position: absolute;
  top: 53%;
  left: 63%;
  transform: translate(-50%, -50%); /* Yazıyı tam ortalar */
  color: white; /* Yazı rengi */
  font-size: 14px; /* Yazı boyutu */
  font-weight: 400;
}

.kart-1 .siparis-ver {
  position: absolute;
  background-color: white; /* Butonun arka plan rengi */
  color: red; /* Buton yazı rengi */
  font-size: 10px; /* Yazı boyutu */
  padding: 12px 20px; /* İçerik boşluğu */
  border: none; /* Kenarlık yok */
  border-radius: 15px; /* Yuvarlatılmış köşeler */
  cursor: pointer; /* Fareyle üzerine gelince el işareti */
  left: 50%;
  top: 60%;
  font-weight: 600;
}

.kart-2 img {
  width: 360px;
  margin-top: 3rem;
  border-radius: 8px;
}

.kart-3 img {
  width: 360px;
  border-radius: 8px;
}

.kart-column {
  display: flex; /* Kapsayıcı */
  flex-direction: column; /* Alt alta düzenleme */
  gap: 0.3rem; /* Kartlar arasında boşluk */
}

.kart-2 .kart-basligi {
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  top: 28%;
  left: 57%;
}

.kart-2 .siparis-ver {
  position: absolute;
  background-color: white; /* Butonun arka plan rengi */
  color: red; /* Buton yazı rengi */
  font-size: 10px; /* Yazı boyutu */
  padding: 12px 20px; /* İçerik boşluğu */
  border: none; /* Kenarlık yok */
  border-radius: 15px; /* Yuvarlatılmış köşeler */
  cursor: pointer; /* Fareyle üzerine gelince el işareti */
  left: 52%;
  top: 40%;
  font-weight: 600;
}

.yan-yana {
  display: flex; /* Yan yana hizalama */
  gap: 0.5rem;
}

.cok {
  color: #ce2829;
}

.kart-3 .kart-basligi {
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  top: 72%;
  left: 58%;
  color: #292929;
}

.kart-3 .siparis-ver {
  position: absolute;
  background-color: white; /* Butonun arka plan rengi */
  color: red; /* Buton yazı rengi */
  font-size: 10px; /* Yazı boyutu */
  padding: 12px 20px; /* İçerik boşluğu */
  border: none; /* Kenarlık yok */
  border-radius: 15px; /* Yuvarlatılmış köşeler */
  cursor: pointer; /* Fareyle üzerine gelince el işareti */
  left: 52%;
  top: 83%;
  font-weight: 600;
}

.hero-menuler {
  background-color: rgb(247, 247, 247);
  position: relative;
  display: inline-block;
  width: 100%;
}

.hero-menuler .egik {
  font-family: "Satisfy", cursive;
  color: #ce2829;
  font-size: 24px;
  text-align: center;
}

.oneri {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.ramen {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 1rem;
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.ramen img {
  width: 30px;
  height: 30px;
}

.pizza {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 1rem;
  border-radius: 25px;
  background-color: #292929;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
}

.pizza img {
  width: 30px;
  height: 30px;
}

.burger {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 1rem;
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.burger img {
  width: 30px;
  height: 30px;
}

.french-fries {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 1rem;
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.french-fries img {
  width: 30px;
  height: 30px;
}

.fast-food {
  display: flex; /* Yan yana düzenleme için */
  align-items: center; /* Resim ve paragrafı dikeyde hizala */
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin-right: 1rem;
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.fast-food img {
  width: 30px;
  height: 30px;
}

.soft-drinks {
  display: flex; /* Yan yana düzenleme için */
  align-items: center; /* Resim ve paragrafı dikeyde hizala */
  gap: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.soft-drinks img {
  width: 30px;
  height: 30px;
}

.hero-menu-icons {
  display: flex; /* Tüm ikonlar ve metinler yan yana */
  flex-wrap: wrap; /* Satır taşmasını engeller, taşarsa alt satıra geçer */
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pizza-1 {
  width: 190px; /* Genişliği %80 yap */
  height: auto;
  border: 1px solid white;
  background-color: white;
  margin-top: 1rem;
  padding: 1.5rem 1.5rem 5rem 1.5rem;
  margin-left: 18.5rem;
  border-radius: 12px;
}

.pizza-2 {
  width: 190px;
  height: auto;
  border: 1px solid white;
  background-color: white;
  margin-top: 1rem;
  padding: 1.5rem 1.5rem 5rem 1.5rem;
  margin-left: 1.5rem;
  border-radius: 12px;
}

.pizza-3 {
  width: 190px;
  height: auto;
  border: 1px solid white;
  background-color: white;
  margin-top: 1rem;
  padding: 1.5rem 1.5rem 5rem 1.5rem;
  margin-left: 1.5rem;
  border-radius: 12px;
}

.pizzalar {
  display: flex;
}

.pizza-1-baslik {
  margin-left: -46.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #292929;
  margin-top: 15.5rem;
}

.pizza-1-puan {
  margin-left: -5.8rem;
  font-weight: 500;
  color: #292929;
  margin-top: 17.2rem;
  font-size: 11px;
  font-family: "Barlow", sans-serif;
}

.pizza-1-yorum {
  margin-left: 5.3rem;
  font-weight: 500;
  color: #292929;
  margin-top: 17.2rem;
  font-size: 11px;
  font-family: "Barlow", sans-serif;
}

.pizza-1-fiyat {
  margin-left: 3rem;
  font-weight: 700;
  color: #292929;
  margin-top: 17rem;
  font-size: 14px;
  font-family: "Barlow", sans-serif;
}

.pizza-2-baslik {
  margin-left: 4rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #292929;
  margin-top: 15.5rem;
}

.pizza-2-puan {
  margin-left: -11rem;
  font-weight: 500;
  color: #292929;
  margin-top: 17.2rem;
  font-size: 11px;
  font-family: "Barlow", sans-serif;
}

.pizza-2-yorum {
  margin-left: 5rem;
  font-weight: 500;
  color: #292929;
  margin-top: 17.2rem;
  font-size: 11px;
  font-family: "Barlow", sans-serif;
}

.pizza-2-fiyat {
  margin-left: 2.5rem;
  font-weight: 700;
  color: #292929;
  margin-top: 17rem;
  font-size: 14px;
  font-family: "Barlow", sans-serif;
}

.pizza-3-baslik {
  margin-left: 5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #292929;
  margin-top: 15.5rem;
}

.pizza-3-puan {
  margin-left: -10rem;
  font-weight: 500;
  color: #292929;
  margin-top: 17.2rem;
  font-size: 11px;
  font-family: "Barlow", sans-serif;
}

.pizza-3-yorum {
  margin-left: 5rem;
  font-weight: 500;
  color: #292929;
  margin-top: 17.2rem;
  font-size: 11px;
  font-family: "Barlow", sans-serif;
}

.pizza-3-fiyat {
  margin-left: 2.5rem;
  font-weight: 700;
  color: #292929;
  margin-top: 17rem;
  font-size: 14px;
  font-family: "Barlow", sans-serif;
}
